* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    /*primary*/
    --mainBg: #090b1a;
    --cardBg: #1b1938;
    --accent: #aa5cdb;

    /*neutral*/
    --heading: #fff;
    --mainP: #ffffffbf;
    --statH: #ffffff99;
}

body {
    background-color: var(--mainBg);
    color: var(--heading);
    font-size: 0.9375rem;
    padding: 1rem;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    background-color: var(--accent);
    border-radius: 0.625rem 0.625rem 0 0;
}

.image img {
    display: block;
    border-radius: 0.625rem 0.625rem 0 0;
    mix-blend-mode: multiply;
    opacity: 0.75;
    width: 100%;
    height: auto;
}

.image img, .text-content {
    max-width: 28.125em;
}

.text-content {
    background-color: var(--cardBg);   
    border-radius: 0 0 0.6rem 0.6rem; 
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: 'Inter', sans-serif;    
}

.text-area h1 {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 2.5rem 0 .9rem 0;
    padding: 0 2.5rem;
}

.accent {
    color: var(--accent);
}

.main-p {
    color: var(--mainP);
    padding: 0 1.7rem;
}

.main-p, .stats p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.stats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

.stats strong {
    font-size: 1.2rem;
}

.stats p {
    color: var(--statH);
    font-size: .8rem;
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media screen and (min-width: 60.625em) {
    .container {
        flex-direction: row;
    }

    .image img, .text-content {
        max-width: 33.75em;
    }

    .image img {
        height: 418px;
    }

    .image {
        border-radius: 0px 0.625rem 0.625rem 0px;
    }

    .text-content {
        border-radius: 0.625em 0px 0px 0.625rem;
        display: flex;
        flex-direction: column;
        order: -1;
        text-align: left;
        height: 27.875em;
    }  

    .text-area {        
        padding: 4rem 3rem 3rem 1rem;
    }

    .text-area h1 {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1.2rem;
    }

    .main-p {
        line-height: 1.7;
        padding: 0 0 0 2.5rem;
    }

    .stats-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5rem;
        width: 100%;
        margin: 0;
        padding-left: 3.7rem;
    }
}