* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*primary*/
    --mainBg: #090b1a;
    --cardBg: #1b1938;
    --accent: #aa5cdb;

    /*neutral*/
    --heading: #ffffff;
    --mainP: #ffffffbf;
    --statH: #ffffff99;
}

html {
	font-size: 62.5%; 
    color: var(--heading);
}

body {
    background-color: var(--mainBg);
    font-size: 1.5rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    background-color: var(--accent);
    border-radius: 10px 10px 0 0;
}

.image img {
    display: block;
    border-radius: 10px 10px 0 0;
    mix-blend-mode: multiply;
    opacity: 0.75;
    width: 100%;
    height: auto;
}

.image img, .text-content {
    max-width: 450px;
}

.text-content {
    background-color: var(--cardBg);   
    border-radius: 0 0 10px 10px; 
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 0 4.2rem;
    font-family: 'Inter', sans-serif;    
}

.text-area h1 {
    margin-top: 1.2em;
    font-size: 2.7rem;
    font-weight: 700;
}

.accent {
    color: var(--accent);
}

.main-p {
    color: var(--mainP);
    margin-top: 1em;
}

.main-p, .stats p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.stats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    text-transform: uppercase;
    margin: 2em 0;
}

.stats p {
    color: var(--statH);
    font-size: 1.2rem;
}

.attribution { 
    font-size: 1.1rem; text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }

    .image img, .text-content {
        max-width: 540px;
    }

    .image {
        border-radius: 0px 10px 10px 0px;
    }

    .text-content {
        border-radius: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        order: -1;
        text-align: left;
        height: 446px;
        /* padding-left: 5em; */
    }  

    .text-area {        
        margin: 4.5em 6em 4em 1em;
    }

    .text-content h1 {
        font-size: 3.1rem;
        margin-top: 0;
        margin-bottom: 1.2rem;
    }

    .main-p {
        font-size: 1.2rem;
        line-height: 1.7;
        margin-top: 1.8em;
    }

    .stats-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5rem;
        width: 100%;
        margin: 2em 0 0 1em;
    }
}